.MDBNavLink{
  font-size: 20px;
  
}

/*#sary{
  height: 400px;
  width : 300px;
}*/
/* #carte{
  height: 150%;
  width: 200%;
  margin-left: 20%;
} */
#carte{
  height: 300px;
  width: 300px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20%;
}

.app{
  width: 100%;  
  height: 100%;
}

.app1{
  width: 50%;  
  height: 50%;
}
.table{
  margin-left: 10%;
}
.center{
  text-align: center;
  margin-top: 3%;
}

.margin{
  margin-top: 2%;
  margin-bottom: 2%;
}

.robot {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #f3671f;
}

p, th { 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  font-size: 150%;
}
.couleur{
 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.para{
  width: 50%;
  height: 50%;
  margin-left: 20%;
}

.nav{
  background: #d05c62 ;
}
.page-footer{
  background: #d05c62 !important;

}
.boutton{
  border-radius: 8px !important; 
}
.bienvenu{
  text-align: center;
}
.login{
  margin-top: 10%;
}

#error{
  color: red;
}
.insc{
    text-align: center;
}
.inscri{
  margin-left: 20%;
}
.inscrit{
  margin-left: 20%;
}